backend:
  name: github
  repo: yysfudhailbiniyadh/yysfudhailbiniyadh-site
  branch: main
  base_url: https://auth.penerbityayasanfudhailbiniyadh.com
  auth_endpoint: /auth

media_folder: "assets/images"
public_folder: "/assets/images"

collections:
  - name: "posts"
    label: "Posts"
    folder: "_posts"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "Layout", name: "layout", widget: "hidden", default: "post" }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
